html {
  height: 100%; 
  overflow-x: hidden;
}

body{
  --company-color: #EC111A;
}

.App {
  text-align: center;
}

.Scotiabank-logo {
  position: relative;
  width: auto;
  height: 82px;
  left: auto;
  top: 4vw;
}

.App-header {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: transparent;
}

.App-link {
  color: #09d3ac;
}

[class*="danger"]{
  border-color: var(--company-color) !important;
}

[class*="outline-danger"]{
  color: var(--company-color) !important;
}


